<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geoair.geoairteam.gwc.mapper.gwc.LayerGroupMapper">

    <sql id="tableName">
        tgwc_layer_group
    </sql>
    <sql id="condition">
                <if test="param.id != null and param.id != ''">
                    AND tgwc_layer_group.id = #{param.id}
                </if>
                <if test="param.groupName != null and param.groupName != ''">
                    AND tgwc_layer_group.group_name = #{param.groupName}
                </if>
                <if test="param.timeCreate != null">
                    AND tgwc_layer_group.time_create <![CDATA[>=]]>  #{param.timeCreate,jdbcType=TIMESTAMP}
                    AND tgwc_layer_group.time_create <![CDATA[<=]]> date_add(#{param.timeCreate,jdbcType=TIMESTAMP}, date_trunc('day', current_date + interval '1 day'))
                </if>
                <if test="param.previewUrl != null and param.previewUrl != ''">
                    AND tgwc_layer_group.preview_url = #{param.previewUrl}
                </if>

        <if test="param.andQueryContentIn != null and param.andQueryContentIn.length > 0">
            AND (
            <foreach collection="param.andQueryContentIn" item="str" index="index"   >
                row_to_json(tgwc_layer_group)||'' LIKE '%'|| #{str}||'%'    or
            </foreach>
            1!=1 )
        </if>

                <if test="param.andIdsIn != null and param.andIdsIn.length > 0">
                    AND tgwc_layer_group.id IN
                    <foreach collection="param.andIdsIn" item="id" index="index" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>

                <if test="param.andIdsNotIn != null and param.andIdsNotIn.length > 0 ">
                    AND tgwc_layer_group.id NOT IN
                    <foreach collection="param.andIdsNotIn" item="id" index="index" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>

    </sql>


    <sql id="fieldList">
                 tgwc_layer_group.group_name,
                tgwc_layer_group.time_create,
                tgwc_layer_group.preview_url,
                tgwc_layer_group.id
    </sql>
    <select id="searchList" resultType="cn.geoair.geoairteam.gwc.model.gwc.dto.LayerGroupDto">
        SELECT * FROM  <include refid="tableName"></include>
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
    </select>

</mapper>
